.--window {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    background-color: var(--color-bg);
}

.--window .--header {
    width: 100%;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
}

.--window .--header .--content {
    width: 90%;
    margin: auto;
    height: 60px;
    display: flex;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--border-default);
    background-color: var(--color-bg);
}

.--window .--header .--content .--col {
    display: flex;
    gap: .8rem;
}

.--window .--header .--content .--col .--btn {
    border-radius: var(--radius-rounded);
    background-color: var(--color-secondary);
}

.--window .--header .--content .--col .--btn-lenguaje {
    height: 40px;
    padding: 0 1rem;
    color: var(--text-color);
}

.--window .--header .--content .--col .--btn-theme {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
}

.--window .--main {
    width: 100%;
    height: calc(100dvh - 200px);
}

.--window .--main .--content {
    width: 90%;
    margin: auto;
    overflow-y: auto;
    padding: 1rem 0;
    height: calc(100dvh - 200px);
}

.--window .--main .--content::-webkit-scrollbar {
    display: none;
}

.--window .--main .--content .--tit {
    text-align: center;
}

.--window .--main .--content .--tit .--tit-b {
    font-weight: 300;
}

.--window .--footer {
    width: 100%;
    height: 120px;
}

.--window .--footer .--content {
    width: 90%;
    margin: auto;
    display: flex;
    height: inherit;
    align-items: center;
}


@media (min-width: 768px) {

    .--window .--header .--content,
    .--window .--main .--content,
    .--window .--footer .--content {
        width: 80%;
    }

}


@media (min-width: 1024px) {

    .--window .--header .--content,
    .--window .--main .--content,
    .--window .--footer .--content {
        width: 60%;
    }

}