:root {

    --color-white: #FFFFFF;
    --color-dark: #000000;
    --color-gray: #888888;

    --radius-md: 20px;
    --radius-rounded: 999px;

    --border-default: 1px solid var(--color-secondary);

    --font-family: "Poppins", sans-serif;

}

:root[data-theme="light"] {
    --color-ico: var(--color-dark);
    --color-bg: var(--color-white);
    --color-secondary: #F1F1F1;
    --text-color: var(--color-dark);
    --color-bg-burble: var(--color-dark);
    --color-text-burble: var(--color-white);
}

:root[data-theme="dark"] {
    --color-ico: var(--color-white);
    --color-bg: var(--color-dark);
    --color-secondary: #181818;
    --text-color: var(--color-white);
    --color-bg-burble: var(--color-white);
    --color-text-burble: var(--color-dark);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    user-select: none;
    box-sizing: border-box;
    font-family: var(--font-family);
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    transition: .4s ease all;
    background-color: var(--color-bg);
}

input, textarea, select {
    color: var(--text-color);
    font-family: var(--font-family);
}

ul, ol, li {
    list-style: none;
}

button {
    cursor: pointer;
    font-family: var(--font-family);
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

.tabler-icon {
    stroke: var(--color-ico);
}